astroid==2.4.1
autopep8==1.5.3
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.14.1
click==7.1.2
cssselect2==0.3.0
DateTime==4.3
defusedxml==0.6.0
dnspython==1.16.0
Flask==1.1.2
Flask-PyMongo==2.3.0
Flask-WeasyPrint==0.6
html5lib==1.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
Pillow==7.2.0
pycodestyle==2.6.0
pycparser==2.20
pylint==2.5.2
pymongo==3.10.1
Pyphen==0.9.5
python-dotenv==0.13.0
pytz==2020.1
six==1.14.0
tinycss2==1.0.2
toml==0.10.1
WeasyPrint==51
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
zope.interface==5.1.0
