/*RESET*/

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

/*Colors*/

:root{
    --red-logo: #742c2d;
    --green-logo: #b3c647;
    --green-input: rgb(158, 158, 20);
    --green-input-dark: rgba(158, 158, 20, .8);
    --button-color: rgba(150, 150, 29, 0.1);
    --light-color: #e5e5e2;
}

html{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

body{
    height: 100vh;
    background: var(--red-logo);
}

/*Section*/

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Form*/

form{
    background: #e5e5e2;
    border: 3px solid var(--green-input);
    width: 90%;
    height: 420px;
    max-width: 600px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    font-family: 'Archivo', sans-serif;
    box-shadow: 0 0 10px 1px black;
}

form h2{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 15px 0 32px 0;
    color: rgb(158, 158, 20);
    text-shadow: 1px 1px 1px var(--green-logo);
}

div{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top:10px;
}

div input{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 85%;
    border: none;
    border-bottom: 2px solid var(--green-input);
    background-color: transparent;
    outline: none;
    display: flex;
    font-weight: bold;
    margin-bottom: 32px;
}

div input ~ label{
    position: absolute;
    top: -10px;
    left: 7.5%;
    transition: .4s;
    color: var(--green-logo);
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
}

div input:focus ~ label,input:valid ~ label{
    transform: translateY(-14px);
    font-size: 0.8;
    letter-spacing: 0.1em;
}

input:invalid{
    color: transparent;
}

span{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    display: flex;
    justify-content: center;
    background-color: var(--green-logo);
    padding:10px;
    border: 2px solid var(--green-input);
    width: 85%;
    display: flex;
    font-weight: bold;
    font-family: 'Poppins';
    color: var(--light-color);
    font-weight: bold;
}

button i {
    margin: 3px 0px 0 10px;
    color: var(--light-color);
}

button:hover{
    cursor: pointer;
    background: var(--green-input-dark);
}


/*Animation*/

@keyframes up{
    from{
        opacity: 0;
    }50%{
        opacity: 1;
    }to{
        opacity: 0;
        transform: translateY(-800px) rotate(960deg);
    }
}

/*Media queries*/

@media (min-width: 1024px){
    /*ANIMATION LI*/
    .animation li{
        width: 20px;
        height: 20px;
        background-color: rgba(245, 245, 245, 0.1);
        display: block;
        position: absolute;
        bottom: -40px;
        animation: up infinite;
        animation-direction: alternate;
        border: 1px solid #f8f8f8;
        border-radius: 3px;
    }
}

@media (min-height: 1000px){
    @keyframes up{
        from{
            opacity: 0;
        }50%{
            opacity: 1;
        }to{
            opacity: 0;
            transform: translateY(-1100px) rotate(960deg);
        }
    }
    
}