/*RESET*/

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a{
    text-decoration:none;
}

/*Colors*/

:root{
    --red-logo: #742c2d;
    --red-logo-dark: #5522238a;
    --green-logo: #b3c647;
    --green-button-dark: #a3b637;
    --button-color: rgba(202, 202, 142, 0.1);
    --light-color: #e5e5e2;
}

/*Body*/

html,body{
    font-family: 'Archivo', sans-serif;
    height: 100%;
    background: var(--light-color);
    font-size: 1em;
}

div{
    display: flex;
    flex-direction: row;
    height: 100%;
}

/*HEADER*/

header{
    width: 15%;
    height: 100%;
    max-width: 150px;
    position:fixed;
    background: var(--red-logo);
    border: 2px solid var(--red-logo-dark);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

header img{
    width: 100%;
    padding-bottom:10px;
    margin-bottom: 30px;
    background: var(--red-logo-dark);
    border-bottom: 1px solid var(--green-logo);
}

ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

ul a{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    width: 91%;
    margin: 7px 4.5%;
    padding: 15px;
    border: 1px solid var(--green-logo);
    border-radius: 3px;
    color: var(--green-logo);
}

ul a:hover{
    cursor: pointer;
    background: var(--green-logo);
    color: var(--light-color);
    border-color: var(--light-color);
}

ul a li i{
    display: flex;
}

ul a li .fa-home{
    font-size: 20px;
}

/*MAIN*/

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
}

main .dashboard{
    margin: 20px auto;
    font-size: 2rem;
}

main .button{
    display: flex;
    justify-content:center;
    margin-top: 20px;
}

main label{
    display: flex;
    justify-content: flex-end;
    margin: 20px 25px 0 0;
}

main label input{
    width: 40%;
    height: 25px;
    max-width: 200px;
}

main label button{
    background-color: var(--green-logo);
    width: 8%;
    max-width: 40px;
    height: 25px;
    font-family: 'Poppins';
    border: 1px solid black;
}

main span a{
    width: 50%;
    max-width: 300px;
}

span a button{
    width: 100%;
    background-color: var(--green-logo);
    padding:10px;
    font-family: 'Poppins';
    font-weight: bold;
    border-radius: 3px;
    transition:1ms;
    border: 2px solid black;


 
}

span a button:hover{
    background: var(--green-button-dark);
    cursor: pointer;
}   


main .message{
    display:flex;
    width:370px;
    height:50px;
    justify-content: center;
    font-weight:bold;
    font-size: 1.1rem;
    border: 1px solid rgba(207, 42, 42, 0.7);
    background: rgba(207, 42, 42, 0.2);
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 25px;
}

main .message2{
    display:flex;
    width:300px;
    height:50px;
    justify-content: center;
    font-weight:bold;
    font-size: 1.1rem;
    border: 1px solid rgba(61, 207, 42, 0.7);
    background: rgba(2, 170, 16, 0.2);
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px; 

}



/* DIV ITEMS */

main .items{
    margin-top: 8px;
    flex-direction: column;
}

main .items .item{
    width: 65%;
    max-width:500px;
    height: 240px;
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: column;
    background: springgreen; 
    border: 2px solid black;
    border-radius: 5px;
}

main .items .item .form-items{
    width:100%;
    display:flex;
    flex-direction: column;
    margin-top: -10px;
}

main .items .item form .inputs{
    display:flex;
    justify-content: space-between;
    width:100%;
    margin-bottom:10px;
}

main .items .item form .inputs label{
    display: flex;
    justify-content: left;
    width:0%;
    margin: 10px 0 0 0;
    font-size: 1.3rem;
}

main .items .item form div input{
    font-size: 1.7rem;
}

main .items .item form .qntd{
    display:flex;
    width:80%;
    text-align:center;
    margin: 5px auto 0 auto;
    height:30px;
    background: none;
    border: none;
}

main .items .item form .product{
    display: flex;
    width: 80%;
    height:30px;
    margin: 0 auto 0 auto;
    text-align: center;
    font-size:1.4rem;
    background: none;
    border: none;
}

main .items .item form .unity{
    display: flex;
    text-align: center;
    width:80%;
    height:30px;
    margin: 0 auto 0 auto;
    background: none;
    border: none;
}

main .items .item form .min{
    display: flex;
    margin: 5px auto 0 auto;
    height:30px;
    text-align: center;
    width:80%;
    background: none;
    border: none;
}

main .items .item form .submit{
    display: flex;
    justify-content: flex-end;
    margin-top: -10px;
    background: none;
    border:none;
}

main .items .item form .submit i{
    margin: 0 13px 0 0;
    color: transparent;
}

main .items .item form .qntd:disabled, main .items .item form .product:disabled,main .items .item form .unity:disabled,main .items .item form .min:disabled{
    color: black;
}

main .items .item .times{
    display:flex;
    justify-content: flex-end;
    background: none;
    border:none;
}

main .items .item .times .fa-times{
    margin: -93px 2px 0 0;
    color: transparent;
}

main .items .item form div{
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

main .items .item form div a i{
    color: black;
}

main .items .item form h1{
    padding: 0 0 20px 0;
}

main .items .item form a{
    color: black;
}

main .items .item form a .fa-trash-o{
    text-decoration: none;
}

main .items .item form a i:hover{
    cursor: pointer;
}

main .items .item form span h3{
    width: 100%;
    border-top: 2px solid black;
    font-size: 1.2rem;
    padding: 10px;
    display: flex;
    justify-content: center;
}


@media screen and (min-width: 768px){
    main{
        margin-left: 150px;
    }

    main .items{
        flex-direction: row;
        flex-wrap: wrap;
    }

    main span a button::before{
        content: 'Novo Produto';
        margin-left: 5px;
    }

    main .items .item{
        width:75%;
        height:220px;
    }

    main .items .item form .inputs{
        margin-left: 15px;
    }

    main .items .item form .inputs .label3{
        margin-top: 3px;
    }

    main .items .item form .inputs .label4{
        margin-top: 3px;
    }

    main .items .item form .inputs label{
        width:20%
    }

    main .items .item form .inputs .label1::before{
        content:'Estoque:'
    }
    main .items .item form .inputs .label2::before{
        content:'Mínimo:'
    }
    main .items .item form .inputs .label3::before{
        content:'Produto:'
    }
    main .items .item form .inputs .label4::before{
        content:'Unidade:'
    }

    main span a button i {
        padding:10px;
    }    
}

@media screen and (min-width: 1200px){

    main .items{
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px;
    }

    main .items .item form .inputs{
        margin-left: 30px;
    }

    ul a{
        justify-content: space-between;
    }

    ul a li i{
        margin-top: 4px;
    }

    ul a:nth-child(1)::before{
        content: 'Estoque'; 
    }
    ul a:nth-child(2)::before{
        content: 'Finanças';
    }
    ul a:nth-child(3)::before{
        content: 'Relatórios';
    }

    ul a:nth-child(4)::before{
        content: 'Pratos';
    }

    ul a:nth-child(5)::before{
        content: 'Config';
    }

    ul a:nth-child(6)::before{
        content: 'Caixa';
    }

    ul a:nth-child(7)::before{
        content: 'Logout';
    }
    
}
