<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link href="https://fonts.googleapis.com/css2?family=Archivo&family=Poppins:wght@300&display=swap" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/cadastroPratos.css') }}">
        <title>Cadastrar Prato</title>
    </head>

    <body>
        <div>
            <header>
                <img src="{{ url_for('static', filename='images/ticos.png') }}" alt="Logo">
                    <ul>
                        <a href="{{ url_for('bp.index') }}"><li><i class="fa fa-home"></i></li></a>
                        <a href="{{ url_for('bp.view_financial') }}"><li><i class="fa fa-money"></i></li></a>
                        <a href="{{ url_for('bp.view_reports' ) }}"><li><i class="fa fa-line-chart"></i></li></a>
                        <a href="{{ url_for('bp.plate') }}"><li><i class="fa fa-product-hunt"></i></li></a>
                        <a href="{{ url_for('bp.view_config') }}"><li><i class="fa fa-cogs"></i></li></a>
                        <a href="{{ url_for('bp.view_cashier') }}"><li><i class="fa fa-usd"></i></li></a>
                        <a href="{{ url_for('bp.logout_session') }}"><li><i class="fa fa-sign-out"></i></li></a>
                    </ul>
            </header>

            <main>

                <h1>Cadastro de Pratos</h1>

                {% for message in get_flashed_messages(with_categories=true) %}
                {% if message[0] == "erro" %}
                    <div class="message">Erro: <span> {{ message[1] }} </span></div>
                {% else %}
                    <div class="message2">Sucesso: <span> {{ message[1] }}</span></div>
                {% endif %}
                {% endfor %}

                <form class="teste" method="POST" action="{{ url_for('bp.plate') }}">

                    <label>Nome do Prato:</label>
                    <input type="text" name="nome_prato" placeholder="Digite o nome do prato, ex: Filé de Frango." onkeypress="return Letras(event,this);" required>

                    <label>Preço do Prato:</label>
                    <input type="text" name="preco_prato" placeholder="Digite o preço do prato, ex: 18." required>

                    <input type="hidden" class="quantidade-ingrediente" name="quantidade_ingrediente" placeholder="Quantidade de ingredientes" value=1 required>

                    <label for="unidade" class="ingredient">Ingredientes: <i class="fa fa-plus"></i></li></label>

                    <div class="select">
                        <input type="text" name="product_name0" class="input-ingredient" placeholder="Digite um ingrediente, ex: Arroz." onkeypress="return Letras(event,this);" required>

                        <input type="number" name="product_qntd0" min="0" class="input-qtd" placeholder="Quantidade" required>

                        <select name="unidade0" class="medidas">
                            <option>Kilograma</option>
                            <option>Litros</option>
                            <option>Unidade</option>s
                            <option>Pacote</option>
                        </select>
                    </div>
                    <button type="submit" class="submit">CADASTRAR PRATO <i class="fa fa-plates"></i></button>
                </form>

            </main>

        </div>

        <script src="{{ url_for('static', filename='js/formplates.js') }}"></script>
    </body>
</html>