<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css2?family=Archivo&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <title>Home</title>
</head>
<body>
    <div>
        <header>
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo">
                <ul>
                    <a href="{{ url_for('bp.index') }}"><li><i class="fa fa-home"></i></li></a>
                    <a href="{{ url_for('bp.view_financial') }}"><li><i class="fa fa-money"></i></li></a>
                    <a href="#"><li><i class="fa fa-line-chart"></i></li></a>
                </ul>
        </header>
        <main>
            <h1 class="dashboard">Estoque</h1>

            <span class="button"><a href="{{ url_for('bp.productView') }}" target="blank"><button><i class="fa fa-plus" aria-hidden="true"></i></button></a></span>
            <div class="items">
                {% for product in listProducts %}
                {% for item in product %}
                    {% if product[item]["quantidade"] >= 50 %}
                    <div class="item">
                        <h1>{{ product[item]["quantidade"] }}</h1>
                        <span><h3>{{ item }}<i class="fa fa-trash-o"></i><i class="fa fa-minus-circle"></i><i class="fa fa-plus-circle"></i></h3></span>
                    </div>
                    {% elif product[item]["quantidade"] >= 20 %}
                    <div class="item" style="background-color: #FFD700;">
                        <h1>{{ product[item]["quantidade"] }}</h1>
                        <span><h3>{{ item }}<i class="fa fa-trash-o"></i><i class="fa fa-minus-circle"></i><i class="fa fa-plus-circle"></i></h3></span>
                    </div>
                    {% else %}
                    <div class="item" style="background-color: #B22222;">
                        <h1>{{ product[item]["quantidade"] }}</h1>
                        <span><h3>{{ item }}<i class="fa fa-trash-o"></i><i class="fa fa-minus-circle"></i><i class="fa fa-plus-circle"></i></h3></span>
                    </div>
                    {% endif %}
                {% endfor %}
                {% endfor %}
            </div>
        </main>
    </div>
</body>
</html>